name: NewsBot_AutoPost
on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:
jobs:
  run_bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run Bot
        run: python main.py
      - name: Commit and Push changes
        run: |
          git config --global user.name "NewsBot"
          git config --global user.email "bot@github.com"
          git add last_links.txt
          git commit -m "Update links" || exit 0
          git push
