name: News AutoBot
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pyTelegramBotAPI requests beautifulsoup4 openai

      - name: Run bot
        run: python main.py

      - name: Save history
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add last_links.txt
          git commit -m "Update history" || exit 0
          git push
