name: News AutoBot

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Deps
        run: pip install -r requirements.txt

      - name: Run
        run: python main.py

      - name: Sync
        run: |
          git config --global user.name "Bot"
          git config --global user.email "bot@github.com"
          git add last_links.txt
          git commit -m "update" || exit 0
          git push

