name: Run News Bot

on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyTelegramBotAPI requests beautifulsoup4

      - name: Run bot script
        env:
          GROQ_KEY: ${{ secrets.GROQ_KEY }}
          NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
        run: python main.py

      - name: Save database changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add *.txt
          git commit -m "Update processed links" || echo "No changes to commit"
          git push
