name: News Bot 24/7

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  run_bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install pyTelegramBotAPI g4f beautifulsoup4 requests

      - name: Run Bot
        run: python main.py

      - name: Save Database
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add last_links.txt
          git commit -m "Update links" || exit 0
          git push
